# Default NAMESPACE created by R
# Remove the previous line if you edit this file

# Export all names
exportPattern(".")

# Import all packages listed as Imports or Depends
import(
  gplots,
  zoo, 
  methods, 
  MatrixEQTL
)

S3method(print, wls)
S3method(plot, wls)